.dashboard-heading {
    font-family: 'Tenor Sans', sans-serif;
}
.dashboard-card {
    font-family: 'Montserrat', sans-serif;
    @apply shadow p-6;
}

.form-text-input {
    @apply appearance-none box-border block;
    font-family: "Montserrat", sans-serif;
    @apply text-base font-normal leading-6 px-3 py-1.5 text-start;
}

.form-select-input {
    @apply appearance-none bg-white;
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e");
    background-position-x: calc(100% - 12px);
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: 16px 12px;
    font-family: "Montserrat", sans-serif;
    @apply box-border block text-base font-normal text-start normal-case;
    width: 208.217px;
}

.large-text-input {
    appearance: none;
    background-clip: padding-box;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(134, 183, 254);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(134, 183, 254);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(134, 183, 254);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(134, 183, 254);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    font-family: "Montserrat", sans-serif;
    font-feature-settings: normal;
    font-size: 16px;
    font-variation-settings: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    tab-size: 4;
    text-align: start;
    transition-delay: 0s, 0s;
    transition-duration: 0.15s, 0.15s;
    transition-property: border-color, box-shadow;
    transition-timing-function: ease-in-out, ease-in-out;
    width: 704.067px;
    -moz-osx-font-smoothing: grayscale;
}

.new-med-button {
    appearance: button;
    background-color: rgb(13, 110, 253);
    background-image: none;
    border-bottom-color: rgb(13, 110, 253);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(13, 110, 253);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(13, 110, 253);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(13, 110, 253);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-feature-settings: normal;
    font-size: 16px;
    font-variation-settings: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 0.65;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    pointer-events: none;
    tab-size: 4;
    text-align: center;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-transform: none;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-property: color, background-color, border-color, box-shadow;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    user-select: none;
    vertical-align: middle;
    -moz-osx-font-smoothing: grayscale;
}