@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./styles/authForms.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Tenor Sans', sans-serif;
  font-family: 'Tenor Sans', sans-serif;
}

:disabled {
  cursor: not-allowed;
}
